body {
  background-color: #080152;
  background-image: url("/assets/imagens/stars.png");
  /* background: linear-gradient( #1e03a3, #02cad1); */
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  max-width: 900px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.header__link {
  text-decoration: none;
  box-sizing: border-box;
  padding: 4px;
  display: flex;
}
.header__link:hover {
  opacity: 0.6;
}
.header__link:focus {
  outline: none;
  background-color: #3e29f7;
  border-radius: 5px;
}
.icone {
  width: 24px;
  border-radius: 50%;
}
.icone--texto {
  margin: 0 8px;
}

.main {
  width: 100%;
  max-width: 700px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto;
}
.perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfil__foto {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
}
.perfil__nome {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #4affba;
  margin: 16px 0;
  text-align: center;
}
.perfil__descricao {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: lightcyan;
}

.section {
  padding: 8px;
  width: 100%;
  max-width: 350px;
  margin: 24px auto;
  box-sizing: border-box;
}
.section__titulo {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #4affba;
  margin: 16px 0;
}
.curso {
  background-color: rgba(0, 91, 151, 0.212);
  padding: 8px;
  margin: 16px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.curso__titulo {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  font-weight: 400px;
  color: #4affba;
  margin: 8px 0;
}
.curso__descricao {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  color: lightcyan;
  margin: 8px 0;
}

.footer {
  width: 100%;
  height: 42px;
  background-color: #4affba;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}
.footer__texto {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  color: #080152;
  display: flex;
  align-items: center;
}
